@page
@model AppointmentSystem.Pages.DatesModel
@{
    ViewData["Title"] = "Даты";
}

<h2 class="mb-2">Даты записи</h2>
<div id="calendar"></div>

@section Scripts
{
    <script>
        let calendarElement = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarElement, {
            plugins: ['bootstrap', 'interaction', 'dayGrid'],
            themeSystem: 'bootstrap',
            defaultView: 'dayGridMonth',
            locale: 'ru',
            navLinks: true,
            navLinkDayClick: function (date, jsEvent) {
                let e = calendar.getEvents().find(x => moment(x.start).isSame(date));
                if (e) {
                    window.location.href = e.url;
                }
            }
        });

        const colors = {
            'Free': '#5cb85c',
            'HalfFull': '#f0ad4e',
            'Full': '#d9534f'
        };

        let searchParams = new URLSearchParams(window.location.search);

        $.get('/api/Dates', { doctorId: searchParams.get('DoctorId') }).done(function (dates) {
            console.log(dates);
            dates.forEach(function (availableDate) {
                let startDate = moment(availableDate.date).startOf('day').toDate();
                let endDate = moment(availableDate.date).endOf('day').toDate();

                calendar.addEvent({
                    allDay: true,
                    rendering: 'background',
                    start: startDate,
                    end: endDate,
                    url: '/Appointments/TimeSlots' + '?' + $.param({ DoctorId: searchParams.get('DoctorId'), Date: startDate.toISOString() }),
                    backgroundColor: colors[availableDate.availability]
                });
            });
        });

        calendar.render();
    </script>
}