@page
@model AppointmentSystem.Pages.DoctorsModel
@{
    ViewData["Title"] = "Доктора";
}

<h2 class="mb-2">Доступные врачи</h2>
<ol class="list-group">
    @foreach(var doctor in Model.AvailableDoctors)
    {
        <li class="list-group-item">
            <h4 class="mb-1">@doctor.FullName</h4>
            <p class="mb-1">@doctor.CategoryName</p>
            <a asp-page="/Appointments/Dates" asp-route-DoctorId="@doctor.Id"  class="stretched-link"></a>
        </li>
    }
</ol>
