@page
@model AppointmentSystem.Pages.Appointments.TimeSlotsModel
@{
    ViewData["Title"] = "TimeSlots";
}

<h2 class="mb-2">Время записи</h2>
@if(Model.AvailableSlots.Count == 0)
{
    <p>Извините, на этот день больше нет записи</p>
}
else
{
    <ol class="list-group">
        @foreach(var slot in Model.AvailableSlots)
        {
            <li class="list-group-item">
                <h4 class="mb-1">@slot.StartTime.ToString("H:mm")</h4>
                <a asp-page="/Appointments/New" class="stretched-link"></a>
            </li>
        }
    </ol>
}