@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="jumbotron">
    <h1 class="display-4">Добро пожаловать в систему записи</h1>
    <p class="lead">Здесь вы можете записаться на прием.</p>
    <hr class="my-4">
    <p>Для начала работы вы можете нажать Записаться</p>
    <a asp-page="/Appointments/New" class="btn btn-primary btn-lg" role="button">Записаться</a>
</div>
