@using AppointmentSystem.Core.Services
@inject IUserIdentityService UserIdentity
@{
    var currentUser = await UserIdentity.GetCurrentUserAsync();
}

    <form class="form-inline">
        @if(currentUser == null)
        {
            <a class="nav-link" asp-page="/User/Login">Войти</a>
        }
        else
        {
            <a class="nav-link" asp-page="/User/Profile">@currentUser.PhoneNumber</a>
            <a class="nav-link" asp-page="/User/LogOut">Выйти</a>
        }
    </form>

